p { 
  font-family: Consolas, monaco, monospace; 
  font-size: 16px; 
  font-style: normal; 
  font-weight: 700; 
  margin: 0; 
  padding: 0; 
  vertical-align: top; 
  margin-top: 0; 
  margin-bottom: 0;
}
.portblock { 
  width: 40px;
  height: 40px;
  background-color: #2488bf!important;
  display: inline-block; 
  margin: 5px;
}
.portblock p {
  text-align: center;
  vertical-align: middle;
  line-height: 40px;
}
.left { 
  width: 50%;
  height: 100%;
  display: inline-block; 
  float: left;
}
.right { 
  width: 50%;
  height: 100%;
  display: inline-block; 
  float: right;
}
