p { 
  font-family: Consolas, monaco, monospace; 
  font-size: 16px; 
  font-style: normal; 
  font-weight: 700; 
  margin: 0; 
  padding: 0; 
  vertical-align: top; 
  margin-top: 0; 
  margin-bottom: 0;
}
.portblock { 
  width: 40px;
  height: 40px;
  background-color: #2488bf!important;
  display: inline-block; 
  margin: 5px;
  border-top: none;
  margin-bottom: none;
}
.portblock p {
  text-align: center;
  vertical-align: middle;
  line-height: 40px;
}
.left { 
  width: calc(50% - 30px);
  height: 100%;
  display: inline-block; 
  float: left;
}
.right { 
  width: calc(50% - 30px);
  height: 100%;
  display: inline-block; 
  float: right;
}

.card-yellow {
    border-top: 2px solid #f2a20e;
}

.card-padding {
    padding: 20px;
}
.card {
    background: #fff;
    margin-bottom: 20px;
    position: relative;
    -webkit-box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%);
    box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%);
}

.card-light-blue {
    border-top: 2px solid #41a4db;
}

body {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAKAAAABQAgMAAADjM5anAAAACVBMVEUAAAAPDw8PDxA5dZcEAAAAA3RSTlMACCueE7eWAAAAO0lEQVR4AWOAA0Y4C6vYiFI4qnBU4ajCUYWjCpmwiZGjMBQGspbCmdjEqGX1iIrCUYWjCkcVjiocVQgAPC8OuQNGhAYAAAAASUVORK5CYII=) center 2px;
    background-color: #fff;
    color: #000;
}

td, th {
    width: calc(100% - 20px);
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #e1e1e1;
    font-family: Consolas, monaco, monospace; 
    font-size: 16px; 
    font-style: normal; 
    font-weight: 700; 
    margin: 0; 
    padding: 0; 
    vertical-align: top; 
    margin-top: 0; 
    margin-bottom: 0;
}
