p { font-family: Consolas, monaco, monospace; font-size: 16px; font-style: normal; font-weight: 700; margin: 0; padding: 0; vertical-align: top; margin-top: 0; margin-bottom: 0;}
.portblock { display: inline-block; }
.left { display: inline-block; }
.right { display: inline-block; }
