p { 
  font-family: Consolas, monaco, monospace; 
  font-size: 16px; 
  font-style: normal; 
  font-weight: 700; 
  margin: 0; 
  padding: 0; 
  vertical-align: top; 
  margin-top: 0; 
  margin-bottom: 0;
}
.portblock { 
  width: 40px;
  height: 40px;
  background-color: #2488bf!important;
  display: inline-block; 
  margin: 5px;
  border-top: none;
  margin-bottom: none;
}
.portblock p {
  text-align: center;
  vertical-align: middle;
  line-height: 40px;
}
.left { 
  width: calc(50% - 30px);
  height: 100%;
  display: inline-block; 
  float: left;
}
.right { 
  width: calc(50% - 30px);
  height: 100%;
  display: inline-block; 
  float: right;
}

.card-yellow {
    border-top: 2px solid #f2a20e;
}

.card-padding {
    padding: 20px;
}
.card {
    background: #fff;
    margin-bottom: 20px;
    position: relative;
    -webkit-box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%);
    box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%);
}

.card-light-blue {
    border-top: 2px solid #41a4db;
}

body {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAKAAAABQAgMAAADjM5anAAAACVBMVEUAAAAPDw8PDxA5dZcEAAAAA3RSTlMACCueE7eWAAAAO0lEQVR4AWOAA0Y4C6vYiFI4qnBU4ajCUYWjCpmwiZGjMBQGspbCmdjEqGX1iIrCUYWjCkcVjiocVQgAPC8OuQNGhAYAAAAASUVORK5CYII=) center 2px;
    background-color: #fff;
    color: #000;
}

td, th {
    width: 100%;
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #e1e1e1;
    font-family: Consolas, monaco, monospace; 
    font-size: 16px; 
    font-style: normal; 
    font-weight: 700; 
    margin: 0; 
    padding: 0; 
    vertical-align: top; 
    margin-top: 0; 
    margin-bottom: 0;
}

table, tbody {
    width: 100%;
}

.searchbox {
    color: #000;
    position: relative;
    vertical-align: middle;
}

.input-wrapper {
    -webkit-text-size-adjust: 100%;
    --balloon-font-size: 12px;
    --balloon-move: 4px;
    --balloon-color: rgba(16,16,16,0.95);
    font-feature-settings: "lnum";
    font-size: 1.5em;
    line-height: 1.6;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    color: #000;
    font-family: Arial;
    margin: 0;
    height: 100%;
    width: 100%;
    max-width: 550px;
    position: relative;
    box-shadow: 0 1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);
}

.visually-hidden {
    -webkit-text-size-adjust: 100%;
    --balloon-font-size: 12px;
    --balloon-move: 4px;
    --balloon-color: rgba(16,16,16,0.95);
    -webkit-font-smoothing: antialiased;
    color: #000;
    font-family: Arial;
    display: block;
    font-weight: 600;
    border: 0;
    clip: rect(0 0 0 0);
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    height: 100%;
}

#search-query {
    -webkit-text-size-adjust: 100%;
    --balloon-font-size: 12px;
    --balloon-move: 4px;
    --balloon-color: rgba(16,16,16,0.95);
    -webkit-font-smoothing: antialiased;
    font: inherit;
    line-height: normal;
    margin: 0;
    padding: 6px 10px;
    border: 1px solid #757575;
    box-shadow: none;
    box-sizing: border-box;
    appearance: none;
    padding-left: 16px;
    padding-right: 48px;
    color: #222;
    border-color: #cfcfcf;
    background-color: #fff;
    height: 100%;
}

.button-red {
    font: inherit;-webkit-appearance: button;text-align: center;border: 1px solid #bbb;cursor: pointer;background-color: #d84d3d;border-color: #e07164;border-bottom: 3px solid #b93425;color: #fff;margin: 0;overflow: visible;height: 100%;display: inline-block;padding: 0 20px;box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);display: inline-block;
    bottom: 5px;
    position: relative;
}
